@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --font-headline: var(--font-manrope);
  --font-body: var(--font-inter);

  --color-tertiary: #894e00;
  --color-secondary-container: #d5e3fd;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary: #ffffff;
  --color-outline-variant: #bdc8ce;
  --color-surface-variant: #e0e3e5;
  --color-surface-container: #eceef0;
  --color-secondary: #515f74;
  --color-on-secondary-container: #57657b;
  --color-tertiary-fixed: #ffdcbf;
  --color-on-tertiary-fixed-variant: #6a3b00;
  --color-surface-container-highest: #e0e3e5;
  --color-surface-container-high: #e6e8ea;
  --color-primary-fixed: #b9eaff;
  --color-on-primary-fixed-variant: #004d62;
  --color-on-surface-variant: #3e484d;
  --color-primary-container: #227e9a;
  --color-on-tertiary-fixed: #2d1600;
  --color-background: #f7f9fb;
  --color-primary: #00647e;
  --color-outline: #6e797e;
  --color-surface: #f7f9fb;
  --color-on-surface: #191c1e;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-error-container: #93000a;
  --color-on-primary-container: #fafdff;
  --color-on-tertiary-container: #fffbff;

  --radius-xl: 0.75rem;
}

@utility tonal-depth {
  box-shadow: 0 10px 40px -10px rgba(25, 28, 30, 0.04);
}

@utility tonal-shadow {
  box-shadow: 0 10px 40px rgba(25, 28, 30, 0.04);
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-headline), ui-sans-serif, system-ui, sans-serif;
  }
}

.academic-gradient {
  background: linear-gradient(135deg, #00647e 0%, #227e9a 100%);
}
